@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #efefef;
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-kufi: 'Noto Kufi Arabic', sans-serif;
}
body {
  background-color: var(--bg-color);
  font-family: var(--font-geist-sans);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.fix-height{
  min-height: calc(100vh - 150px);
}
.overflow-height{
  height: calc(100vh - 150px);
}
button:disabled{
  cursor:not-allowed;
}